body {
  background-color: black;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 1024px;
}

#canvasTop, #canvasBottom {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}